<fa-app style="height: 568px; width: 320px; margin: 0;">
  <fa-surface fa-background-color="'#F6F6F6'">
    <fa-surface fa-size="[undefined, 100]" fa-background-color="'#F00'">Header</fa-surface>
    <fa-surface fa-size="[undefined, undefined]" fa-background-color="'#0F0'">
      content
    </fa-surface>
  </fa-surface>
  <fa-view id="app-container">
    <fa-view id="main-menu">
      <fa-surface fa-background-color="'#ccc'">
        <div style="font-size: 2em; padding: 10px;">Main Menu</div>
      </fa-surface>
    </fa-view>
    <fa-view id="main-content">
      <fa-modifier fa-translate="[contentViewPos.get(), 0, 0]" >
        <!-- Toolbar -->
        <fa-modifier fa-translate="[0, 0, 0]">
          <fa-surface fa-size="[undefined, 40]" fa-background-color="'#000'">
              <fa-surface fa-click="toggleMenu()" style="color: #fff;" fa-size="[30, 30]" fa-background-color="'#666'">
              </fa-surface>
          </fa-surface>
        </fa-modifier>
        <fa-modifier fa-translate="[0, 40, 0]">
          <fa-surface fa-pipe-to="sync" fa-size="[undefined, undefined]" fa-background-color="'#f6f6f6'">
          <div style="font-size: 2em; padding: 10px;">Content</div>
          </fa-surface>
        </fa-modifier>
        <!-- <fa-header-footer-layout>
          <fa-surface fa-size="[undefined, 40]" fa-background-color="'#000'">
          </fa-surface>
          <fa-surface fa-pipe-to="sync" fa-size="[undefined, undefined]" fa-background-color="'#f7f7f7'">
            <div style="font-size: 2em; padding: 10px;">Content</div>
          </fa-surface>
        </fa-header-footer-layout> -->
      </fa-modifier>
    </fa-view>
  </fa-view>
</fa-app>
