<fa-app style="width: 320px; height: 568px;">
<fa-modifier>
  <fa-surface fa-size="[undefined, 50]" fa-background-color="'black'">
</fa-modifier>
<fa-modifier fa-size="[undefined, undefined]">
   <fa-scroll-view fa-pipe-from="eventHandler" fa-options="options.scrollView" fa-start-index="1">
     <fa-view ng-repeat="item in list">
        <fa-modifier id="{{'listItem' + $index}}" fa-translate="[0, 50, 0]" fa-size="[undefined, 60]">
          <!-- All events on fa-surfaces (click, mousewheel) are piped to $scope.eventHandler -->
          <fa-surface fa-pipe-to="eventHandler"
                      fa-size="[undefined, undefined]"
                      fa-background-color="'red'">
                      <div style="margin-left: 10px; color: #fff; display: block; font-size: 1.2em; border-bottom: 1px solid #fff;">{{item.artist}}</div>
          </fa-surface>
        </fa-modifier>
      </fa-view>
   </fa-scroll-view>
</fa-modifier>
</fa-app>
